//partials - use underscore to name file but not when importing
@import 'variables';
@import 'resets';

//map
//use 'map-get(var, key)'
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

//mixin
@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}

body {
    background: $primary-color;
    color: $text-color;

    @include mobile {
        background: yellow;
    }
}

.first {
    width: 80%;
    margin: 0 auto;

    //define a variable within the scope of .main
    $padding-settings: 10px;

    //nesting 
    .first-top-paragraph {
        padding: $padding-settings;
        //uses function to set font-weight 
        //instead of 'font-weight: map-get($font-weights, bold);'
        font-weight: weight(bold);

    }

    //shortcut: .first-main-paragraph -INSTEAD USE- &-main-paragraph 
    //& === parent
    &-main-paragraph {
        font-weight: map-get($font-weights, bold);
        color: blue;
        padding: $padding-settings;

        &:hover {
            color: $text-color;
        }
    }
}

//mixin
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

//mixin with parameter
@mixin flexItem($borderColor) {
    border: 3px solid $borderColor;
    margin: 5px;
    padding: 5px;
}

.second {
  
    @include flex;

    p {
        @include flexItem(blue)
    }
        
}

//mixin
@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

.third {
    @include theme($light-theme: true);
}

.fourth {
    margin: 10px auto;
    padding: 15px;

    .fourth-1 {
        color: red;
        font-weight: map-get($font-weights, bold);
        font-style: italic;
        margin-bottom: 5px;
    }

    //extension
    .fourth-2 {
        @extend .fourth-1;
        font-style: normal;
    }

}
